Repository zengguangzhong/magot: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts -- --fix, prettier --write, eslint --fix, stylelint --syntax less --fix

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": ["npm run lint:ts -- --fix", "prettier --write", "git add"],
    "*.{js,jsx}": ["eslint --fix", "prettier --write", "git add"],
    "*.less": ["stylelint --syntax less --fix", "prettier --write", "git add"],
    "*.{json,yml,yaml,md,mdx}": ["prettier --write", "git add"]
  },
  "ignore": []
}

add overlay mixin a parameter
  src/mixins/size.less
Due: prettier --write, stylelint --syntax less --fix

implement the Loading component
  demo/index.less
  src/components/Loading/Loading.less
  src/components/Loading/Loading.tsx
  src/components/Loading/demo.tsx
  src/themes/default.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Loading component is completed
  TODO.md
Due: prettier --write

pass nativeProps to native html dom
  src/components/Button/Button.tsx
  src/components/component.ts
Due: npm run lint:ts -- --fix, prettier --write

add Size, Offset declarations
  src/lib.d.ts
Due: npm run lint:ts -- --fix, prettier --write

add DOM Node utility
  src/utils/node.ts
Due: npm run lint:ts -- --fix, prettier --write

add alignment utility
  src/utils/alignment.ts
Due: npm run lint:ts -- --fix, prettier --write

implement the Tooltip component
  src/components/Tooltip/Tooltip.less
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/demo.tsx
  src/themes/default.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

use Tooltip component
  src/components/Button/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

use Loading component for React Suspense fallback
  demo/index.jsx
Due: prettier --write, eslint --fix

Tooltip component is completed
  TODO.md
Due: prettier --write

update webpack script dev.js
  scripts/webpack/dev.js
Due: prettier --write, eslint --fix

update iconfont
  src/iconfont/iconfont.eot
  src/iconfont/iconfont.less
  src/iconfont/iconfont.svg
  src/iconfont/iconfont.ttf
  src/iconfont/iconfont.woff
  src/iconfont/iconfont.woff2
Due: prettier --write, stylelint --syntax less --fix

add useTimingToggle hook
  src/hooks/visible.ts
Due: npm run lint:ts -- --fix, prettier --write

implement the Toast component
  src/components/Toast/Toast.less
  src/components/Toast/Toast.tsx
  src/components/Toast/demo.tsx
  src/components/Toast/index.ts
  src/themes/default.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

rename Icon.fontSize ==> Icon.size
  src/components/Icon/Icon.tsx
  src/components/Icon/README.mdx
  src/components/Icon/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

add Iconable component, it wraps a component to be has icon
  src/components/Icon/Iconable.tsx
Due: npm run lint:ts -- --fix, prettier --write

use Iconable component for Button
  src/components/Button/Button.tsx
  src/components/Button/index.ts
Due: npm run lint:ts -- --fix, prettier --write

add .text-overflow() less mixin
  src/mixins/index.less
  src/mixins/text-overflow.less
Due: prettier --write, stylelint --syntax less --fix

add `text-index: 0` css rule for Icon component
  src/components/Icon/Icon.less
Due: prettier --write, stylelint --syntax less --fix

pass style prop to component DOM node
  src/components/Loading/Loading.tsx
  src/components/Toast/Toast.tsx
  src/components/Tooltip/Tooltip.tsx
Due: npm run lint:ts -- --fix, prettier --write

1) add IconableComponent for Iconable component to extends 2) update declarations
  src/components/component.ts
Due: npm run lint:ts -- --fix, prettier --write

ButtonProps extends IconableComponent and remove duplicate properties
  src/components/Button/Button.tsx
Due: npm run lint:ts -- --fix, prettier --write

add `.arrow()` less mixin
  src/mixins/arrow.less
  src/mixins/index.less
Due: prettier --write, stylelint --syntax less --fix

add Popup component, use it to wraps popup function
  TODO.md
  src/components/Popup/Popup.less
  src/components/Popup/Popup.tsx
  src/components/Popup/README.mdx
  src/components/Popup/demo.tsx
  src/components/Popup/index.ts
  src/index.ts
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

1) use Popup component to wrap Tooltip component 2) use `.arrow()` less mixin
  src/components/Tooltip/Tooltip.less
  src/components/Tooltip/Tooltip.tsx
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

restore test code
  src/components/Popup/Popup.tsx
Due: npm run lint:ts -- --fix, prettier --write

add component.MouseMovableComponent type
  src/components/component.ts
Due: npm run lint:ts -- --fix, prettier --write

1) extract PopupOverlay child component 2) add `preventOut` optional property for Popup component
  src/components/Popup/Popup.less
  src/components/Popup/Popup.tsx
  src/components/Popup/PopupOverlay.tsx
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

add @box-shadow1 @box-shadow2 @box-shadow3 variables for default theme
  src/themes/default.less
Due: prettier --write, stylelint --syntax less --fix

add `space` optional property for Popup component
  src/components/Popup/Popup.tsx
  src/components/Popup/PopupOverlay.tsx
  src/utils/alignment.ts
Due: npm run lint:ts -- --fix, prettier --write

rename gap ==> space
  src/components/Button/Button.less
  src/components/Loading/Loading.less
  src/components/Toast/Toast.less
  src/themes/default.less
Due: prettier --write, stylelint --syntax less --fix

remove `vertical-align` css rule for Icon component
  src/components/Icon/Icon.less
Due: prettier --write, stylelint --syntax less --fix

update Icon component demo
  demo/index.less
  src/components/Icon/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

complete Toast component
  TODO.md
  src/components/Toast/Toast.tsx
Due: npm run lint:ts -- --fix, prettier --write

implement the Menu component
  TODO.md
  demo/index.less
  src/components/Menu/ItemClickContext.ts
  src/components/Menu/Menu.less
  src/components/Menu/Menu.tsx
  src/components/Menu/MenuDivider.less
  src/components/Menu/MenuDivider.tsx
  src/components/Menu/MenuItem.less
  src/components/Menu/MenuItem.tsx
  src/components/Menu/MenuItemGroup.less
  src/components/Menu/MenuItemGroup.tsx
  src/components/Menu/MenuItems.tsx
  src/components/Menu/SubMenu.less
  src/components/Menu/SubMenu.tsx
  src/components/Menu/demo.tsx
  src/components/Menu/index.ts
  src/themes/default.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

remove span wrapper for Iconable text children
  src/components/Button/Button.less
  src/components/Button/Button.tsx
  src/components/Icon/Iconable.tsx
  src/components/Menu/MenuItem.less
  src/components/Menu/MenuItem.tsx
  src/components/Menu/MenuItemGroup.less
  src/components/Menu/MenuItemGroup.tsx
  src/components/Menu/SubMenu.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

remove the default styles of MenuItem internal A tag
  src/components/Menu/MenuItem.less
Due: prettier --write, stylelint --syntax less --fix
