Repository zengguangzhong/magot: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts -- --fix, prettier --write, eslint --fix, stylelint --syntax less --fix

Build vendor bundle of react for development mode
  scripts/webpack/base.js
  scripts/webpack/dev.js
Due: prettier --write, eslint --fix

Exclude the `react` from the output bundle for production mode
  scripts/webpack/prod.js
Due: prettier --write, eslint --fix

Install jest and enzyme
  .babelrc
  package.json
  yarn.lock
Due: prettier --write

Fix the declaration error and import path error
  lib.d.ts
  src/components/Dropdown/Dropdown.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add jest test
  jest.config.js
  package.json
  scripts/build/lib.js
  src/__test__/__snapshots__/index.test.ts.snap
  src/__test__/index.test.ts
  test/__mocks__/file_mock.js
  test/__mocks__/style_mock.js
  test/setup.js
  tsconfig.json
  tsconfig.lib.json
Due: npm run lint:ts -- --fix, prettier --write, eslint --fix

Use TypeScript to write the demo code
  demo/index.tsx
  scripts/webpack/dev.js
  tsconfig.es.json
  tsconfig.json
  tsconfig.lib.json
Due: npm run lint:ts -- --fix, prettier --write, eslint --fix

Update jest.config.js
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update testMatch config of jest.config.js
  jest.config.js
  tsconfig.es.json
  tsconfig.lib.json
Due: prettier --write, eslint --fix

Watch ignore the test files
  scripts/webpack/dev.js
Due: prettier --write, eslint --fix

Change the `name` to optional property
  src/components/Icon/Icon.tsx
Due: npm run lint:ts -- --fix, prettier --write

Install sinon module
  package.json
  yarn.lock
Due: prettier --write

Update the root test case
  src/__test__/__snapshots__/index.test.ts.snap
  src/__test__/index.test.ts
Due: npm run lint:ts -- --fix, prettier --write

Fix style bug when the `size` property is undefined
  src/components/Icon/Icon.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add the Icon component test cases
  src/components/Icon/__test__/Icon.test.tsx
  src/components/Icon/__test__/__snapshots__/Icon.test.tsx.snap
Due: npm run lint:ts -- --fix, prettier --write

Add `create:test` script
  package.json
  scripts/creator/component/index.js
  scripts/creator/component/templates/test.js
  scripts/creator/create.js
  scripts/creator/test/index.js
Due: prettier --write, eslint --fix

Add shared test suites
  src/components/Icon/__test__/Icon.test.tsx
  src/components/Icon/__test__/__snapshots__/Icon.test.tsx.snap
  test/shared.test.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add the Button component test cases
  src/components/Button/__test__/Button.test.tsx
  src/components/Button/__test__/__snapshots__/Button.test.tsx.snap
Due: npm run lint:ts -- --fix, prettier --write

Use yarn to instead of npm
  .travis.yml
Due: prettier --write

Add CONTRIBUTING.md
  .eslintignore
  .gitignore
  .prettierignore
  CONTRIBUTING.md
  README.md
Due: prettier --write

Update the version to v0.0.1-alpha.1
  package.json
Due: prettier --write

Add badges for README.md
  README.md
Due: prettier --write

Change `injectTestSuites` function of the shared test
  src/components/Button/__test__/__snapshots__/Button.test.tsx.snap
  test/shared.test.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add the ButtonGroup component test cases and fix the bugs tested
  src/components/ButtonGroup/ButtonGroup.tsx
  src/components/ButtonGroup/__test__/ButtonGroup.test.tsx
  src/components/ButtonGroup/__test__/__snapshots__/ButtonGroup.test.tsx.snap
Due: npm run lint:ts -- --fix, prettier --write

Optimize the custom styles test suite
  src/components/ButtonGroup/__test__/ButtonGroup.test.tsx
  src/components/ButtonGroup/__test__/__snapshots__/ButtonGroup.test.tsx.snap
  test/shared.test.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add the Breadcrumb component test cases and fix the bugs tested
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/Breadcrumb/__test__/Breadcrumb.test.tsx
  src/components/Breadcrumb/__test__/__snapshots__/Breadcrumb.test.tsx.snap
Due: npm run lint:ts -- --fix, prettier --write

Add `test:dev` npm script
  package.json
Due: prettier --write

Change jest test environment to jsdom
  jest.config.js
Due: prettier --write, eslint --fix

Split the injectTestSuites to injectStyleTestSuites and injectClickEventTestSuite
  src/components/Breadcrumb/__test__/Breadcrumb.test.tsx
  src/components/Breadcrumb/__test__/__snapshots__/Breadcrumb.test.tsx.snap
  src/components/Button/__test__/Button.test.tsx
  src/components/Button/__test__/__snapshots__/Button.test.tsx.snap
  src/components/ButtonGroup/__test__/ButtonGroup.test.tsx
  src/components/ButtonGroup/__test__/__snapshots__/ButtonGroup.test.tsx.snap
  src/components/Icon/__test__/Icon.test.tsx
  src/components/Icon/__test__/__snapshots__/Icon.test.tsx.snap
  test/shared.test.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add injectFocusEventsTestSuites for form components
  test/shared.test.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add the Checkbox component test cases
  src/components/Checkbox/__test__/Checkbox.test.tsx
  src/components/Checkbox/__test__/__snapshots__/Checkbox.test.tsx.snap
Due: npm run lint:ts -- --fix, prettier --write

Add endOfLine config into .prettierrc
  .prettierrc
Due: none

Add the CheckboxGroup component test cases
  src/components/CheckboxGroup/__test__/CheckboxGroup.test.tsx
  src/components/CheckboxGroup/__test__/__snapshots__/CheckboxGroup.test.tsx.snap
Due: npm run lint:ts -- --fix, prettier --write

Mark tested components for demo
  demo/index.less
  demo/index.tsx
  lib.d.ts
  scripts/webpack/dev.js
Due: npm run lint:ts -- --fix, prettier --write, eslint --fix, stylelint --syntax less --fix

Remove unused files
  scripts/less/copy.js
  scripts/less/find.js
Due: prettier --write, eslint --fix

Upgrade npm dependencies
  .babelrc
  package.json
  scripts/babelrc.js
  yarn.lock
Due: prettier --write, eslint --fix

Optimize the webpack build script code
  .babelrc
  package.json
  scripts/babelrc.js
  scripts/build/release.js
  scripts/webpack/base.js
  yarn.lock
Due: prettier --write, eslint --fix

Move babelrc to scripts/babel
  .babelrc
  .babelrc.js
  scripts/babel/node.js
  scripts/babel/webpack.js
  scripts/webpack/base.js
Due: prettier --write, eslint --fix

Upgrade some dependencies
  package.json
  yarn.lock
Due: prettier --write

Remove TSLint, instead of typescript-eslint
  .eslintrc
  .lintstagedrc
  package.json
  tslint.json
Due: prettier --write

Path conditions:
  npm run lint:ts -- --fix: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.less)) or (any of: *.{json,yml,yaml,md,mdx})
  eslint --fix: any of: *.{js,jsx}
  stylelint --syntax less --fix: any of: *.less
