Repository zengguangzhong/magot: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts -- --fix, prettier --write, eslint --fix, stylelint --syntax less --fix

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": ["npm run lint:ts -- --fix", "prettier --write", "git add"],
    "*.{js,jsx}": ["eslint --fix", "prettier --write", "git add"],
    "*.less": ["stylelint --syntax less --fix", "prettier --write", "git add"],
    "*.{json,yml,yaml,md,mdx}": ["prettier --write", "git add"]
  },
  "ignore": []
}

The local states must be changed manually when the Modal was closed for React v16.8.1 hooks
  src/components/Modal/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

Implement the Switch component
  TODO.md
  demo/index.less
  src/components/Switch/Switch.less
  src/components/Switch/Switch.tsx
  src/components/Switch/demo.tsx
  src/themes/default.less
  src/themes/default/switch.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Implement the Checkbox component
  TODO.md
  demo/index.less
  src/components/Checkbox/Checkbox.less
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/README.mdx
  src/components/Checkbox/demo.tsx
  src/themes/default/checkbox.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Add CheckboxValue declaration
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/index.ts
Due: npm run lint:ts -- --fix, prettier --write

Add checkbox control only test case
  src/components/Checkbox/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

Implement the CheckboxGroup component
  TODO.md
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/index.ts
  src/components/CheckboxGroup/CheckboxGroup.less
  src/components/CheckboxGroup/CheckboxGroup.tsx
  src/components/CheckboxGroup/demo.tsx
  src/components/CheckboxGroup/index.ts
  src/themes/default/checkbox.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Add children property for the CheckboxGroup component
  src/components/CheckboxGroup/CheckboxGroup.tsx
  src/components/CheckboxGroup/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

Implement the Radio component
  TODO.md
  demo/index.less
  src/components/Radio/Radio.less
  src/components/Radio/Radio.tsx
  src/components/Radio/demo.tsx
  src/components/Radio/index.ts
  src/themes/default.less
  src/themes/default/radio.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Differentiate the controlled component and uncontrolled component
  src/components/Radio/Radio.less
  src/components/Radio/Radio.tsx
  src/components/Radio/demo.tsx
  src/components/Radio/index.ts
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Implement the RadioGroup component
  TODO.md
  src/components/RadioGroup/RadioGroup.less
  src/components/RadioGroup/RadioGroup.tsx
  src/components/RadioGroup/demo.tsx
  src/components/RadioGroup/index.ts
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Differentiate the controlled component and uncontrolled component
  src/components/Checkbox/Checkbox.less
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/demo.tsx
  src/components/CheckboxGroup/CheckboxGroup.tsx
  src/components/CheckboxGroup/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Change @border-color-base
  src/themes/default/border.less
Due: prettier --write, stylelint --syntax less --fix

Add button mode Radio and RadioGroup component
  demo/index.less
  src/components/Radio/Radio.less
  src/components/Radio/Radio.tsx
  src/components/Radio/RadioButton.less
  src/components/Radio/RadioButton.tsx
  src/components/Radio/demo.tsx
  src/components/Radio/index.ts
  src/components/RadioGroup/RadioGroup.less
  src/components/RadioGroup/RadioGroup.tsx
  src/components/RadioGroup/demo.tsx
  src/themes/default/radio.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Remove CheckboxValue declaration
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/index.ts
  src/components/CheckboxGroup/CheckboxGroup.tsx
Due: npm run lint:ts -- --fix, prettier --write

Remove RadioValue declaration
  src/components/Radio/Radio.tsx
  src/components/Radio/index.ts
  src/components/RadioGroup/RadioGroup.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add @border-color-lighten
  src/themes/default/border.less
  src/themes/default/menu.less
  src/themes/default/modal.less
  src/themes/default/popover.less
  src/themes/default/tabs.less
Due: prettier --write, stylelint --syntax less --fix

Remove name property of the Menu component
  src/components/ContextMenu/demo.tsx
  src/components/Dropdown/demo.tsx
  src/components/Menu/ItemClickContext.ts
  src/components/Menu/Menu.tsx
  src/components/Menu/MenuItem.tsx
  src/components/Menu/MenuItems.tsx
  src/components/Menu/SubMenu.tsx
  src/components/Menu/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

Pass `${component}-popup` className to the Popup component
  src/components/Dropdown/Dropdown.tsx
  src/components/Menu/SubMenu.tsx
  src/components/Popover/Popover.tsx
  src/components/Tooltip/Tooltip.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add `width` optional property for the Menu component
  src/components/Menu/Menu.tsx
Due: npm run lint:ts -- --fix, prettier --write

Change the `@border-radius-sm` variable
  src/themes/default/border.less
Due: prettier --write, stylelint --syntax less --fix

Change some less variables
  src/components/Breadcrumb/Breadcrumb.less
  src/components/Button/Button.less
  src/components/Checkbox/Checkbox.less
  src/components/Dropdown/Dropdown.less
  src/components/Menu/MenuItem.less
  src/components/Modal/Modal.less
  src/components/Radio/Radio.less
  src/components/Radio/RadioButton.less
  src/components/RadioGroup/RadioGroup.less
  src/components/Toast/Toast.less
  src/themes/default/border.less
  src/themes/default/breadcrumb.less
  src/themes/default/button.less
  src/themes/default/dropdown.less
  src/themes/default/line-height.less
  src/themes/default/menu.less
  src/themes/default/modal.less
  src/themes/default/popover.less
  src/themes/default/radio.less
  src/themes/default/tabs.less
Due: prettier --write, stylelint --syntax less --fix

Use the value property instead of label when the label property is not specified
  src/components/Menu/SubMenu.tsx
Due: npm run lint:ts -- --fix, prettier --write

Render the MenuItem label order: children, label, value
  src/components/Menu/MenuItem.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add `Custom Item Renderer` demo test case
  src/components/Menu/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

Change the @input-placeholder-color variable
  src/themes/default/input.less
Due: prettier --write, stylelint --syntax less --fix

Remove component.getNativeProps, use props deconstruction to instead of it
  src/components/Button/Button.tsx
  src/components/Popup/PopupOverlay.tsx
  src/components/component.ts
Due: npm run lint:ts -- --fix, prettier --write

Add FormComponent declaration as basic type for all form components
  src/components/Checkbox/Checkbox.tsx
  src/components/Radio/Radio.tsx
  src/components/Switch/Switch.tsx
  src/components/component.ts
Due: npm run lint:ts -- --fix, prettier --write

Add `onClick` optional property for the Icon component
  src/components/Icon/Icon.tsx
  src/components/Icon/Iconable.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add .transition() less mixin
  src/mixins/index.less
  src/mixins/transition.less
Due: prettier --write, stylelint --syntax less --fix

Use .transition less mixin
  src/components/Breadcrumb/Breadcrumb.less
  src/components/Button/Button.less
  src/components/Checkbox/Checkbox.less
  src/components/Menu/MenuItem.less
  src/components/Radio/Radio.less
  src/components/Radio/RadioButton.less
  src/components/Switch/Switch.less
  src/components/Tabs/Tabs.less
Due: prettier --write, stylelint --syntax less --fix

Implement the Input component
  demo/index.less
  src/components/Input/Input.less
  src/components/Input/Input.tsx
  src/components/Input/demo.tsx
  src/themes/default/input.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Add `onOpen` and `onClose` optional properties for the Popup component
  src/components/Popup/Popup.tsx
  src/components/Popup/PopupOverlay.tsx
Due: npm run lint:ts -- --fix, prettier --write

Change the parameters of the Menu component onItemClick function
  src/components/Dropdown/demo.tsx
  src/components/Menu/ItemClickContext.ts
  src/components/Menu/Menu.tsx
  src/components/Menu/MenuItem.tsx
  src/components/Menu/SubMenu.tsx
  src/components/Menu/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

Use React.ReactText to instead `string | number` type
  src/components/Checkbox/Checkbox.tsx
  src/components/CheckboxGroup/CheckboxGroup.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/MenuItem.tsx
  src/components/Menu/SubMenu.tsx
  src/components/Radio/Radio.tsx
  src/components/RadioGroup/RadioGroup.tsx
  src/components/Switch/Switch.tsx
  src/components/Tabs/Tabs.tsx
  src/components/component.ts
Due: npm run lint:ts -- --fix, prettier --write

Accurately declare the type of children property
  src/components/ButtonGroup/ButtonGroup.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/MenuDivider.tsx
  src/components/Menu/MenuItemGroup.tsx
  src/components/Menu/SubMenu.tsx
  src/components/Menu/index.ts
  src/components/Modal/Modal.tsx
Due: npm run lint:ts -- --fix, prettier --write

Die out any type
  src/components/Dropdown/Dropdown.tsx
  src/components/FileButton/FileButton.tsx
  src/components/FileButton/demo.tsx
  src/components/component.ts
Due: npm run lint:ts -- --fix, prettier --write

Add `removeWhenClose` property for the Popup component
  src/components/Popup/Popup.tsx
  src/components/Popup/PopupOverlay.tsx
Due: npm run lint:ts -- --fix, prettier --write

Update the Menu component demo test cases
  src/components/Menu/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

Update the Menu component some less variables
  src/themes/default/menu.less
Due: prettier --write, stylelint --syntax less --fix

Pass removeWhenClose=true
  src/components/Tooltip/Tooltip.tsx
Due: npm run lint:ts -- --fix, prettier --write
