Repository zengguangzhong/magot: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts -- --fix, prettier --write, eslint --fix, stylelint --syntax less --fix

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": ["npm run lint:ts -- --fix", "prettier --write", "git add"],
    "*.{js,jsx}": ["eslint --fix", "prettier --write", "git add"],
    "*.less": ["stylelint --syntax less --fix", "prettier --write", "git add"],
    "*.{json,yml,yaml,md,mdx}": ["prettier --write", "git add"]
  },
  "ignore": []
}

add `.docz` `.eslintcache` at .gitignore
  .gitignore
Due: none

add base files: base.less, variable.less, less mixins and default theme
  src/README.mdx
  src/base.less
  src/mixins/index.less
  src/mixins/placeholder.less
  src/mixins/size.less
  src/themes/default.less
  src/variable.less
Due: prettier --write, stylelint --syntax less --fix

docz config updated, for themConfig and menu
  docs/docz.html
  doczrc.js
  package.json
Due: prettier --write, eslint --fix

add `docs/docz` ignore
  .eslintignore
  .prettierignore
Due: none

add yarn.lock
  yarn.lock
Due: none

add react-hooks plugin add eslint
  .eslintrc
  package.json
Due: prettier --write

update package.json for some modules version
  package.json
Due: prettier --write

update webpack configs
  scripts/webpack/babelrc.js
  scripts/webpack/base.js
  scripts/webpack/dev.js
Due: prettier --write, eslint --fix

remove base.less
  src/base.less
Due: prettier --write, stylelint --syntax less --fix

add box-sizing.less, box.less, clearfix.less mixins
  src/mixins/box-sizing.less
  src/mixins/box.less
  src/mixins/clearfix.less
  src/mixins/index.less
Due: prettier --write, stylelint --syntax less --fix

add button component theme variables
  src/themes/README.mdx
  src/themes/default.less
Due: prettier --write, stylelint --syntax less --fix

1) add Button, ButtonGroup, FileButton, Icon components 2) add iconfont
  TODO.md
  src/__test__/index.test.js
  src/components/button-group/README.mdx
  src/components/button-group/__test__/button-group.test.js
  src/components/button-group/button-group.less
  src/components/button-group/button-group.tsx
  src/components/button-group/index.ts
  src/components/button/README.mdx
  src/components/button/__test__/button.test.js
  src/components/button/button.less
  src/components/button/button.tsx
  src/components/button/index.ts
  src/components/component.ts
  src/components/file-button/README.mdx
  src/components/file-button/__test__/file-button.test.js
  src/components/file-button/file-button.less
  src/components/file-button/file-button.tsx
  src/components/file-button/index.ts
  src/components/icon/README.mdx
  src/components/icon/__test__/icon.test.js
  src/components/icon/icon.less
  src/components/icon/icon.tsx
  src/components/icon/index.ts
  src/constants/component-type.ts
  src/iconfont/iconfont.eot
  src/iconfont/iconfont.less
  src/iconfont/iconfont.svg
  src/iconfont/iconfont.ttf
  src/iconfont/iconfont.woff
  src/iconfont/iconfont.woff2
  src/index.ts
  src/utils/check-file.ts
  src/utils/mimetype.ts
Due: npm run lint:ts -- --fix, prettier --write, eslint --fix, stylelint --syntax less --fix

add .browserslistrc
  .browserslistrc
Due: none

add postcss and postcss-loader
  .postcssrc.js
  package.json
  scripts/.postcssrc.js
  scripts/babelrc.js
  scripts/webpack/base.js
  yarn.lock
Due: prettier --write, eslint --fix

disable codeSandbox
  doczrc.js
Due: prettier --write, eslint --fix

remove __test__
  src/__test__/index.test.js
  src/components/button-group/__test__/button-group.test.js
  src/components/button/__test__/button.test.js
  src/components/file-button/__test__/file-button.test.js
  src/components/icon/__test__/icon.test.js
Due: prettier --write, eslint --fix

add fontSize prop
  src/components/icon/icon.tsx
Due: npm run lint:ts -- --fix, prettier --write

1) add iconSize prop 2) remove commented codes
  src/components/button/button.tsx
Due: npm run lint:ts -- --fix, prettier --write

tsc output sourcemap
  tsconfig.json
Due: prettier --write

add demo for development, to start as `npm start` command
  demo/index.html
  demo/index.jsx
  demo/index.less
  package.json
  scripts/babelrc.js
  scripts/webpack/base.js
  scripts/webpack/dev.js
  src/components/button-group/demo.tsx
  src/components/button/demo.tsx
  src/components/file-button/demo.tsx
  src/components/icon/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write, eslint --fix, stylelint --syntax less --fix

add `creat:component` script for quick to create component
  package.json
  scripts/creator/component/index.js
  scripts/creator/component/templates/component.js
  scripts/creator/component/templates/demo.js
  scripts/creator/component/templates/doc.js
  scripts/creator/component/templates/index.js
  scripts/creator/component/templates/less.js
Due: prettier --write, eslint --fix

component name rename to upperCase
  demo/index.jsx
  src/components/Button/Button.less
  src/components/Button/Button.tsx
  src/components/Button/README.mdx
  src/components/Button/demo.tsx
  src/components/Button/index.ts
  src/components/ButtonGroup/ButtonGroup.less
  src/components/ButtonGroup/ButtonGroup.tsx
  src/components/ButtonGroup/README.mdx
  src/components/ButtonGroup/demo.tsx
  src/components/ButtonGroup/index.ts
  src/components/FileButton/FileButton.less
  src/components/FileButton/FileButton.tsx
  src/components/FileButton/README.mdx
  src/components/FileButton/demo.tsx
  src/components/FileButton/index.ts
  src/components/Icon/Icon.less
  src/components/Icon/Icon.tsx
  src/components/Icon/README.mdx
  src/components/Icon/demo.tsx
  src/components/Icon/index.ts
  src/components/button-group/index.ts
  src/components/file-button/index.ts
  src/components/icon/index.ts
  src/index.ts
Due: npm run lint:ts -- --fix, prettier --write, eslint --fix, stylelint --syntax less --fix

1) add @babel/plugin-syntax-dynamic-import 2) update react-router to v4.4.0
  package.json
  scripts/babelrc.js
  yarn.lock
Due: prettier --write, eslint --fix

creator:component update template
  scripts/creator/component/index.js
  scripts/creator/component/templates/component.js
  scripts/creator/component/templates/less.js
Due: prettier --write, eslint --fix

remove .gitkepp
  src/.gitkeep
Due: none

add hooks folder
  src/hooks/.gitkeep
Due: none

webpack: inject __DEV__ variable
  scripts/webpack/base.js
Due: prettier --write, eslint --fix

1) webpack: inject __DEMOS__ and __ICONS__ variables 2) __DEMOS__ is all component demos 3) __ICONS__ is all icons of iconfont
  .eslintrc
  scripts/webpack/dev.js
Due: prettier --write, eslint --fix

ts: add __DEV__, __DEMOS__, __ICONS__ global declarations
  src/lib.d.ts
Due: npm run lint:ts -- --fix, prettier --write

use __DEMOS__ to render all component demo routes
  demo/index.jsx
Due: prettier --write, eslint --fix

use __ICONS__ to render all icons for Icon demo
  src/components/Icon/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

add Loader component
  TODO.md
  src/components/Loader/Loader.less
  src/components/Loader/Loader.tsx
  src/components/Loader/README.mdx
  src/components/Loader/demo.tsx
  src/components/Loader/index.ts
  src/index.ts
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

fix less mixin error: .box ==> .box()
  src/mixins/box.less
Due: prettier --write, stylelint --syntax less --fix

add .fullsize() and .overlay() mixins for size.less
  src/mixins/size.less
Due: prettier --write, stylelint --syntax less --fix

update README.mdx name
  src/components/Button/README.mdx
  src/components/ButtonGroup/README.mdx
  src/components/Checkbox/README.mdx
  src/components/FileButton/README.mdx
  src/components/Icon/README.mdx
  src/themes/README.mdx
Due: prettier --write

use less .box() .box-sizing() .overlay() mixins
  src/components/ButtonGroup/ButtonGroup.less
  src/components/Checkbox/Checkbox.less
  src/components/FileButton/FileButton.less
  src/components/Icon/Icon.less
Due: prettier --write, stylelint --syntax less --fix

extract the Icon component's spin animation duration property to theme variable
  src/components/Icon/Icon.less
  src/themes/default.less
Due: prettier --write, stylelint --syntax less --fix

optimize Button component declaration, NativeButton, LinkButton and ButtonContent
  src/components/Button/Button.tsx
Due: npm run lint:ts -- --fix, prettier --write

add useCountdown hook
  src/hooks/.gitkeep
  src/hooks/countdown.ts
Due: npm run lint:ts -- --fix, prettier --write
