Repository zengguangzhong/magot: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts -- --fix, prettier --write, eslint --fix, stylelint --syntax less --fix

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": ["npm run lint:ts -- --fix", "prettier --write", "git add"],
    "*.{js,jsx}": ["eslint --fix", "prettier --write", "git add"],
    "*.less": ["stylelint --syntax less --fix", "prettier --write", "git add"],
    "*.{json,yml,yaml,md,mdx}": ["prettier --write", "git add"]
  },
  "ignore": []
}

Update .mgt-input-clear styles and visibility
  src/components/Input/Input.less
  src/components/Input/Input.tsx
  src/themes/default/input.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Implement the Select component
  demo/index.less
  src/components/Select/Select.less
  src/components/Select/Select.tsx
  src/components/Select/SelectOption.tsx
  src/components/Select/demo.tsx
  src/themes/default.less
  src/themes/default/select.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Mark the Input and Select components were completed
  TODO.md
Due: prettier --write

Update the component template
  scripts/creator/component/templates/component.js
Due: prettier --write, eslint --fix

Extract InputBase component from the Input
  src/components/Input/Input.less
  src/components/Input/Input.tsx
  src/components/InputBase/InputBase.less
  src/components/InputBase/InputBase.tsx
  src/components/InputBase/index.ts
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Implement the TextArea component
  TODO.md
  src/components/Input/Input.tsx
  src/components/TextArea/README.mdx
  src/components/TextArea/TextArea.less
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/demo.tsx
  src/components/TextArea/index.ts
  src/index.ts
  src/themes/default.less
  src/themes/default/textarea.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Implement the Password component
  TODO.md
  src/components/Input/Input.tsx
  src/components/Password/Password.less
  src/components/Password/Password.tsx
  src/components/Password/README.mdx
  src/components/Password/demo.tsx
  src/components/Password/index.ts
  src/index.ts
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Add `onVisibilityChange` property for the Password component
  src/components/Password/Password.tsx
  src/components/Password/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

Change the `defaultValue` declaration
  src/components/Checkbox/Checkbox.tsx
  src/components/Radio/Radio.tsx
  src/components/Switch/Switch.tsx
  src/components/component.ts
Due: npm run lint:ts -- --fix, prettier --write

Retain the Button `disabled` property, when if the ButtonGroup `disabled` property is false.
  src/components/ButtonGroup/ButtonGroup.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add `position: relative` style rule for the Icon component
  src/components/Icon/Icon.less
Due: prettier --write, stylelint --syntax less --fix

Add `ignoreEditableNode` optional property for the Hotkey component
  src/components/Hotkey/Hotkey.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add `controlled input` demo case for the Input component
  src/components/Input/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

Implement the InputNumber component
  demo/index.less
  src/components/InputNumber/InputNumber.less
  src/components/InputNumber/InputNumber.tsx
  src/components/InputNumber/demo.tsx
  src/themes/default.less
  src/themes/default/input-number.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Mark the InputNumber component was completed
  TODO.md
Due: prettier --write

Rename `visibility` hook to `changes` hook
  src/components/Modal/Modal.tsx
  src/hooks/changes.ts
  src/hooks/visibility.ts
Due: npm run lint:ts -- --fix, prettier --write

Add `dateFormatter` utility function
  src/utils/date-formatter.ts
Due: npm run lint:ts -- --fix, prettier --write

Implement the Calendar component
  TODO.md
  demo/index.less
  src/components/Calendar/Calendar.less
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/demo.tsx
  src/themes/default.less
  src/themes/default/calendar.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Add MonthPicker, RangePicker, WeekPicker components
  TODO.md
  src/components/MonthPicker/MonthPicker.less
  src/components/MonthPicker/MonthPicker.tsx
  src/components/MonthPicker/README.mdx
  src/components/MonthPicker/demo.tsx
  src/components/MonthPicker/index.ts
  src/components/RangePicker/README.mdx
  src/components/RangePicker/RangePicker.less
  src/components/RangePicker/RangePicker.tsx
  src/components/RangePicker/demo.tsx
  src/components/RangePicker/index.ts
  src/components/WeekPicker/README.mdx
  src/components/WeekPicker/WeekPicker.less
  src/components/WeekPicker/WeekPicker.tsx
  src/components/WeekPicker/demo.tsx
  src/components/WeekPicker/index.ts
  src/index.ts
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Change the Input-like components theme variables and style rules
  src/components/InputBase/InputBase.less
  src/components/Password/Password.less
  src/components/Select/Select.less
  src/themes/default/input.less
  src/themes/default/select.less
Due: prettier --write, stylelint --syntax less --fix

Extract InputFormComponent declaration for Input-like components to shared
  src/components/Input/Input.tsx
  src/components/Input/demo.tsx
  src/components/InputBase/InputBase.tsx
  src/components/Select/Select.tsx
  src/components/Select/demo.tsx
  src/components/TextArea/demo.tsx
  src/components/component.ts
Due: npm run lint:ts -- --fix, prettier --write

Add generic paradigm for FormComponent's value and defaultValue properties
  src/components/Checkbox/Checkbox.tsx
  src/components/InputBase/InputBase.tsx
  src/components/InputNumber/InputNumber.tsx
  src/components/Radio/Radio.tsx
  src/components/Select/Select.tsx
  src/components/Switch/Switch.tsx
  src/components/component.ts
Due: npm run lint:ts -- --fix, prettier --write

Extract the date utility
  src/components/Calendar/Calendar.tsx
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write

Support to pass `null` to `defaultValue` or `value` property, that means unselected date.
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/demo.tsx
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write

Set default value as `true` for the Select component `clearable` property
  src/components/Select/Select.tsx
  src/components/Select/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add `onPressEnter` property for the InputFormComponent
  src/components/InputBase/InputBase.tsx
  src/components/component.ts
Due: npm run lint:ts -- --fix, prettier --write

Add `onHeaderClick` property for the Calendar component
  src/components/Calendar/Calendar.tsx
Due: npm run lint:ts -- --fix, prettier --write

Calendar grid always have 6 rows (6 rows * 7 columns = 42 cells)
  src/components/Calendar/Calendar.tsx
Due: npm run lint:ts -- --fix, prettier --write

Rename calendar-day ==> calendar-cell
  src/components/Calendar/Calendar.less
  src/components/Calendar/Calendar.tsx
  src/themes/default/calendar.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Set the color of the input icon independently
  src/components/InputBase/InputBase.less
  src/themes/default/input.less
Due: prettier --write, stylelint --syntax less --fix

Set cursor as `default`, when if input is readonly state
  src/components/InputBase/InputBase.less
Due: prettier --write, stylelint --syntax less --fix

Add `children` and `onFooterClick` properties for the Calendar component
  demo/index.less
  src/components/Calendar/Calendar.less
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/demo.tsx
  src/themes/default/calendar.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Change calendar-cell some style rules
  src/components/Calendar/Calendar.less
Due: prettier --write, stylelint --syntax less --fix

Implement the DatePicker component
  TODO.md
  src/components/DatePicker/DatePicker.less
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/demo.tsx
  src/themes/default.less
  src/themes/default/date-picker.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Optimize the Calendar component code
  src/components/Calendar/Calendar.less
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/demo.tsx
  src/themes/default/calendar.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Fix lint error
  doczrc.js
Due: prettier --write, eslint --fix

Move date-formatter utility to date utility
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/demo.tsx
  src/utils/date-formatter.ts
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write

Add `year` and `month` modes for the Calendar component
  demo/index.less
  src/components/Calendar/Calendar.less
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/demo.tsx
  src/themes/default/calendar.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

1) Add `decade` mode for the Calendar component 2) Call the mode calendar when header title is clicked
  src/components/Calendar/Calendar.less
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Remove the calendar overlay when the DatePicker popup is closed
  src/components/DatePicker/DatePicker.tsx
Due: npm run lint:ts -- --fix, prettier --write
