Repository zengguangzhong/magot: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts -- --fix, prettier --write, eslint --fix, stylelint --syntax less --fix

Implement the MonthPicker component base of the DatePicker component
  src/components/MonthPicker/MonthPicker.tsx
  src/components/MonthPicker/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

Add `getWeekNumber` utility function
  src/components/Calendar/Calendar.tsx
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write

Add `w` format for date formatter
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write

Remove redundant style rules
  src/components/DatePicker/DatePicker.less
  src/components/Input/Input.less
  src/components/MonthPicker/MonthPicker.less
  src/components/WeekPicker/WeekPicker.less
Due: prettier --write, stylelint --syntax less --fix

Add `week` mode for the Calendar component
  src/components/Calendar/Calendar.less
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/demo.tsx
  src/themes/default/calendar.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Implement the WeekPicker component based of the DatePicker component
  src/components/WeekPicker/WeekPicker.tsx
  src/components/WeekPicker/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

ReadOnly for the MonthPicker and the WeekPicker components
  src/components/MonthPicker/MonthPicker.tsx
  src/components/MonthPicker/demo.tsx
  src/components/WeekPicker/WeekPicker.tsx
  src/components/WeekPicker/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

Mark the WeekPicker component was completed
  TODO.md
Due: prettier --write

Build the done status of components to demo page
  demo/index.jsx
  scripts/webpack/dev.js
Due: prettier --write, eslint --fix

Change some styles for Calendar and DatePicker components
  src/components/Calendar/Calendar.less
  src/components/Calendar/demo.tsx
  src/components/DatePicker/DatePicker.less
  src/components/DatePicker/DatePicker.tsx
  src/themes/default/calendar.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Change demo body width to be 1080px
  demo/index.less
Due: prettier --write, stylelint --syntax less --fix

Add some functions for the date utility
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write

Split the Calendar big component to some small components
  src/components/Calendar/Calendar.less
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/CalendarBody.tsx
  src/components/Calendar/CalendarCell.tsx
  src/components/Calendar/CalendarCellNode.tsx
  src/components/Calendar/CalendarFooter.tsx
  src/components/Calendar/CalendarGrid.tsx
  src/components/Calendar/CalendarHeader.tsx
  src/components/Calendar/CalendarRow.tsx
  src/components/Calendar/CalendarWeek.tsx
  src/components/Calendar/CalendarWrapper.tsx
  src/components/Calendar/DateCalendar.tsx
  src/components/Calendar/DateCalendarHeader.tsx
  src/components/Calendar/DecadeCalendar.tsx
  src/components/Calendar/MonthCalendar.tsx
  src/components/Calendar/WeekCalendar.tsx
  src/components/Calendar/YearCalendar.tsx
  src/components/Calendar/demo.tsx
  src/components/Calendar/prefix.ts
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Extract DatePicker core code to DatePickerWrapper component
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/DatePickerWrapper.tsx
  src/components/MonthPicker/MonthPicker.tsx
  src/components/WeekPicker/WeekPicker.tsx
Due: npm run lint:ts -- --fix, prettier --write

Optimize some TS declarations
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/Calendar/Calendar.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/Loading/Loading.tsx
  src/components/MonthPicker/MonthPicker.tsx
  src/components/MonthPicker/index.ts
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/index.ts
  src/components/TextArea/TextArea.tsx
  src/components/Toast/Toast.tsx
  src/components/Toast/index.ts
  src/components/WeekPicker/WeekPicker.tsx
  src/components/WeekPicker/index.ts
  src/lib.d.ts
Due: npm run lint:ts -- --fix, prettier --write

Add some control properties and callbacks for the CalendarHeader
  src/components/Calendar/Calendar.less
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/CalendarHeader.tsx
  src/components/Calendar/CalendarWrapper.tsx
  src/components/Calendar/DateCalendarHeader.tsx
  src/components/Calendar/DecadeCalendar.tsx
  src/components/Calendar/YearCalendar.tsx
  src/themes/default/calendar.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Add some functions for the date utility
  src/components/Calendar/CalendarWrapper.tsx
  src/components/Calendar/DateCalendar.tsx
  src/components/DatePicker/DatePickerWrapper.tsx
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write

1) Add `currentYear`, `currentMonth`, `disableTodayAgo`, `activeToday`, `activedDate`, `dyedDate` properties for the Calendar component
  src/components/Calendar/Calendar.less
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/CalendarCell.tsx
  src/components/Calendar/CalendarCellNode.tsx
  src/components/Calendar/CalendarWrapper.tsx
  src/components/Calendar/DateCalendar.tsx
  src/components/Calendar/DecadeCalendar.tsx
  src/components/Calendar/MonthCalendar.tsx
  src/components/Calendar/WeekCalendar.tsx
  src/components/Calendar/YearCalendar.tsx
  src/components/Calendar/demo.tsx
  src/components/DatePicker/DatePickerWrapper.tsx
  src/themes/default/calendar.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Rename date utility formatter function to format
  src/components/DatePicker/DatePickerWrapper.tsx
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write

Upgrade npm dependencies
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

Move the `src/lib.d.ts` to the root dir and Include it at tsconfig.json
  lib.d.ts
  package.json
  src/components/Calendar/Calendar.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/Popup/PopupOverlay.tsx
  src/components/RangePicker/RangePicker.tsx
  src/utils/placement.ts
  tsconfig.json
Due: npm run lint:ts -- --fix, prettier --write

Import the variable.less into the iconfont.less
  src/iconfont/iconfont.less
Due: prettier --write, stylelint --syntax less --fix

Add `diffDays` and `diffMonths` functions for the date utility
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write

Resolve the side-effects for `current` property
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/CalendarWrapper.tsx
  src/components/Calendar/WeekCalendar.tsx
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write

Hide the previous and next buttons for the MonthCalendar
  src/components/Calendar/MonthCalendar.tsx
Due: npm run lint:ts -- --fix, prettier --write

Implement the RangeCalendar component
  src/components/Calendar/Calendar.less
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/RangeCalendar.tsx
  src/components/Calendar/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Mark some components are completed
  TODO.md
Due: prettier --write

Remove and split the CalendarWrapper
  lib.d.ts
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/CalendarWrapper.tsx
  src/components/Calendar/DateCalendar.tsx
  src/components/Calendar/DateCalendarHeader.tsx
  src/components/Calendar/DecadeCalendar.tsx
  src/components/Calendar/MonthCalendar.tsx
  src/components/Calendar/RangeCalendar.tsx
  src/components/Calendar/WeekCalendar.tsx
  src/components/Calendar/YearCalendar.tsx
  src/components/Calendar/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

Use the `value` property priority when if the `currentDate` is not specified
  src/components/Calendar/Calendar.tsx
Due: npm run lint:ts -- --fix, prettier --write

Change the MonthCalendar value type to `AcceptableDate`
  TODO.md
  lib.d.ts
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/MonthCalendar.tsx
  src/components/Calendar/RangeCalendar.tsx
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write

Keep the RangeCalendar nowrap
  src/components/Calendar/Calendar.less
Due: prettier --write, stylelint --syntax less --fix

Add `onCellClick` callback for the Calendar component
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/DecadeCalendar.tsx
  src/components/Calendar/MonthCalendar.tsx
  src/components/Calendar/RangeCalendar.tsx
  src/components/Calendar/YearCalendar.tsx
Due: npm run lint:ts -- --fix, prettier --write

Declare the CalendarNormalProps type
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/RangeCalendar.tsx
  src/components/Calendar/index.ts
Due: npm run lint:ts -- --fix, prettier --write

Implement MonthPicker, WeekPicker, RangePicker components
  TODO.md
  src/components/DatePicker/DatePicker.less
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/DatePickerWrapper.tsx
  src/components/DatePicker/MonthPicker.tsx
  src/components/DatePicker/PickerCalendar.tsx
  src/components/DatePicker/PickerPopup.tsx
  src/components/DatePicker/PickerTrigger.tsx
  src/components/DatePicker/RangePicker.tsx
  src/components/DatePicker/WeekPicker.tsx
  src/components/DatePicker/demo.tsx
  src/components/MonthPicker/MonthPicker.less
  src/components/MonthPicker/MonthPicker.tsx
  src/components/MonthPicker/README.mdx
  src/components/MonthPicker/demo.tsx
  src/components/MonthPicker/index.ts
  src/components/RangePicker/README.mdx
  src/components/RangePicker/RangePicker.less
  src/components/RangePicker/RangePicker.tsx
  src/components/RangePicker/demo.tsx
  src/components/RangePicker/index.ts
  src/components/WeekPicker/README.mdx
  src/components/WeekPicker/WeekPicker.less
  src/components/WeekPicker/WeekPicker.tsx
  src/components/WeekPicker/demo.tsx
  src/components/WeekPicker/index.ts
  src/index.ts
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Refactor the date utility code
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/DecadeCalendar.tsx
  src/components/Calendar/MonthCalendar.tsx
  src/components/Calendar/RangeCalendar.tsx
  src/components/Calendar/WeekCalendar.tsx
  src/components/Calendar/YearCalendar.tsx
  src/components/Calendar/demo.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/MonthPicker.tsx
  src/components/DatePicker/RangePicker.tsx
  src/components/DatePicker/WeekPicker.tsx
  src/components/DatePicker/demo.tsx
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write

Add the `alias` method decorator
  src/decorators/alias.ts
Due: npm run lint:ts -- --fix, prettier --write

Use the `alias` decorator to instead of the `eq`, `lt`, `gt`, `lte` and `gte` alias methods
  src/utils/date.ts
Due: npm run lint:ts -- --fix, prettier --write

Upgrade npm dependencies
  package.json
  yarn.lock
Due: prettier --write

Update the `es`, `lib`, `release` build scripts
  package.json
  scripts/build/es.js
  scripts/build/lib.js
  scripts/build/release.js
  scripts/copy.js
  scripts/find.js
  scripts/less/compile.js
  scripts/webpack/base.js
  scripts/webpack/prod.js
Due: prettier --write, eslint --fix

Add `fix:prettier`, `fix:ts`, `fix:js`, `fix:style` and `fix` npm scripts
  package.json
Due: prettier --write

Path conditions:
  npm run lint:ts -- --fix: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.less)) or (any of: *.{json,yml,yaml,md,mdx})
  eslint --fix: any of: *.{js,jsx}
  stylelint --syntax less --fix: any of: *.less
