Repository zengguangzhong/magot: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts -- --fix, prettier --write, eslint --fix, stylelint --syntax less --fix

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": ["npm run lint:ts -- --fix", "prettier --write", "git add"],
    "*.{js,jsx}": ["eslint --fix", "prettier --write", "git add"],
    "*.less": ["stylelint --syntax less --fix", "prettier --write", "git add"],
    "*.{json,yml,yaml,md,mdx}": ["prettier --write", "git add"]
  },
  "ignore": []
}

using Toast instead of alert in demos
  src/components/Button/README.mdx
  src/components/Button/demo.tsx
  src/components/FileButton/README.mdx
  src/components/FileButton/demo.tsx
  src/components/Menu/demo.tsx
  src/components/Toast/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

merge ClickableComponent and MouseMovableComponent as MouseEventComponent
  src/components/Button/Button.tsx
  src/components/component.ts
Due: npm run lint:ts -- --fix, prettier --write

rename hooks/visible ==> hooks/timer
  src/components/Toast/Toast.tsx
  src/hooks/timer.ts
Due: npm run lint:ts -- --fix, prettier --write

add trigger(hover,click,contextMenu) property for Popup component
  src/components/Popup/Popup.tsx
  src/components/Popup/PopupOverlay.tsx
  src/components/Popup/demo.tsx
  src/components/Popup/index.ts
Due: npm run lint:ts -- --fix, prettier --write

implement the Dropdown component
  TODO.md
  src/components/Dropdown/Dropdown.less
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/demo.tsx
  src/themes/default.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

rename Dropdown.overlay ==> Dropdown.menu
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/demo.tsx
Due: npm run lint:ts -- --fix, prettier --write

implement the ContextMenu component
  src/components/ContextMenu/ContextMenu.less
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/demo.tsx
  src/themes/default.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

mark ContextMenu is completed
  TODO.md
Due: prettier --write

rename Toast.showClose ==> Toast.closable
  src/components/Toast/Toast.tsx
Due: npm run lint:ts -- --fix, prettier --write

change import less file location to the end of import
  scripts/creator/component/templates/component.js
  src/components/Button/Button.tsx
  src/components/ButtonGroup/ButtonGroup.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/CheckboxGroup/CheckboxGroup.tsx
  src/components/ContextMenu/ContextMenu.less
  src/components/ContextMenu/ContextMenu.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/FileButton/FileButton.tsx
  src/components/Icon/Icon.tsx
  src/components/Loading/Loading.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/MenuDivider.tsx
  src/components/Menu/MenuItem.tsx
  src/components/Menu/MenuItemGroup.tsx
  src/components/Menu/SubMenu.tsx
  src/components/Popup/Popup.tsx
  src/components/Toast/Toast.tsx
  src/components/Tooltip/Tooltip.tsx
Due: npm run lint:ts -- --fix, prettier --write, eslint --fix, stylelint --syntax less --fix

implement the Hotkey component
  TODO.md
  src/components/Hotkey/Hotkey.tsx
  src/components/Hotkey/README.mdx
  src/components/Hotkey/demo.tsx
  src/components/Hotkey/index.ts
  src/components/Shortcuts/README.mdx
  src/components/Shortcuts/Shortcuts.less
  src/components/Shortcuts/Shortcuts.tsx
  src/components/Shortcuts/demo.tsx
  src/components/Shortcuts/index.ts
  src/index.ts
  src/utils/node.ts
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

split the `default.less` to the `default` directory and the corresponding module files
  src/themes/default.less
  src/themes/default/background.less
  src/themes/default/border.less
  src/themes/default/box-shadow.less
  src/themes/default/button.less
  src/themes/default/checkbox.less
  src/themes/default/color.less
  src/themes/default/dropdown.less
  src/themes/default/font.less
  src/themes/default/icon.less
  src/themes/default/input.less
  src/themes/default/layout.less
  src/themes/default/line-height.less
  src/themes/default/link.less
  src/themes/default/loading.less
  src/themes/default/menu.less
  src/themes/default/modal.less
  src/themes/default/outline.less
  src/themes/default/text.less
  src/themes/default/toast.less
  src/themes/default/tooltip.less
  src/themes/default/zindex.less
Due: prettier --write, stylelint --syntax less --fix

add `useCreated` hook, mark component is rendered
  src/hooks/created.ts
Due: npm run lint:ts -- --fix, prettier --write

add `useVisibility` hook
  src/hooks/visibility.ts
Due: npm run lint:ts -- --fix, prettier --write

add `useAnimation` hook, return enter or leave animation name
  src/hooks/animation.ts
Due: npm run lint:ts -- --fix, prettier --write

implement the Modal component
  TODO.md
  src/components/Modal/Modal.less
  src/components/Modal/Modal.tsx
  src/components/Modal/demo.tsx
  src/components/Modal/index.ts
  src/themes/default/modal.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

add `active` property for the Hotkey component
  src/components/Hotkey/Hotkey.tsx
Due: npm run lint:ts -- --fix, prettier --write

1) refuse to excute the close code when if visibility is false 2) use visibility value as active property passed to Hotkey component
  src/components/Modal/Modal.tsx
Due: npm run lint:ts -- --fix, prettier --write

update webpack dev script
  scripts/webpack/dev.js
Due: prettier --write, eslint --fix

implement the Dialog component
  TODO.md
  src/components/Dialog/Dialog.less
  src/components/Dialog/Dialog.tsx
  src/components/Dialog/README.mdx
  src/components/Dialog/demo.tsx
  src/components/Dialog/index.ts
  src/index.ts
  src/themes/default.less
  src/themes/default/dialog.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

add border parameters for `arrow.less` mixin
  src/mixins/arrow.less
Due: prettier --write, stylelint --syntax less --fix

use @border-color-base variable
  src/themes/default/border.less
  src/themes/default/modal.less
Due: prettier --write, stylelint --syntax less --fix

rename showed class ==> popped
  src/components/Popup/Popup.less
  src/components/Popup/PopupOverlay.tsx
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

add `clickClosable` property for the Popup component
  src/components/Popup/Popup.tsx
  src/components/Popup/PopupOverlay.tsx
Due: npm run lint:ts -- --fix, prettier --write

implement the Popover component
  TODO.md
  src/components/Popover/Popover.less
  src/components/Popover/Popover.tsx
  src/components/Popover/demo.tsx
  src/themes/default.less
  src/themes/default/popover.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

rename align ==> placement
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/demo.tsx
  src/components/Menu/SubMenu.tsx
  src/components/Popover/Popover.tsx
  src/components/Popover/demo.tsx
  src/components/Popup/Popup.tsx
  src/components/Popup/PopupOverlay.tsx
  src/components/Popup/demo.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/demo.tsx
  src/mixins/arrow.less
  src/utils/placement.ts
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

update timer hook: side effect when `duration` or `canceled` paramters changed only
  src/hooks/timer.ts
Due: npm run lint:ts -- --fix, prettier --write

implement the Notification component
  TODO.md
  src/components/Notification/Notification.less
  src/components/Notification/Notification.tsx
  src/components/Notification/demo.tsx
  src/themes/default.less
  src/themes/default/notification.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

implement the Breadcrumb component
  TODO.md
  src/components/Breadcrumb/Breadcrumb.less
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/Breadcrumb/BreadcrumbItem.tsx
  src/components/Breadcrumb/demo.tsx
  src/themes/default.less
  src/themes/default/breadcrumb.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

update `animation` hook: set initial animation name by visibility
  src/hooks/animation.ts
Due: npm run lint:ts -- --fix, prettier --write

Add Animation component
  src/components/Animation/Animation.tsx
  src/components/Animation/README.mdx
  src/components/Animation/index.ts
  src/index.ts
Due: npm run lint:ts -- --fix, prettier --write

use the Animation component for animate effects
  src/components/Dialog/Dialog.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Modal/Modal.less
  src/components/Modal/Modal.tsx
  src/components/Notification/Notification.tsx
  src/components/Notification/demo.tsx
  src/components/Popup/Popup.less
  src/components/Popup/Popup.tsx
  src/components/Popup/PopupOverlay.tsx
  src/components/Toast/Toast.less
  src/components/Toast/Toast.tsx
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

implement Animation component
  TODO.md
Due: prettier --write

upgrade the versions of dependencies
  package.json
  yarn.lock
Due: prettier --write

fix the prettier lint errors
  src/hooks/animation.ts
  src/hooks/timer.ts
Due: npm run lint:ts -- --fix, prettier --write

fix the tslint errors
  src/components/Animation/Animation.tsx
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Hotkey/Hotkey.tsx
  src/components/Hotkey/demo.tsx
  src/components/Menu/MenuItemGroup.tsx
  src/components/Popup/Popup.tsx
Due: npm run lint:ts -- --fix, prettier --write

update the getComponentClasses declaration
  src/components/Breadcrumb/BreadcrumbItem.tsx
  src/components/Menu/MenuDivider.tsx
  src/components/component.ts
Due: npm run lint:ts -- --fix, prettier --write

implement the Tabs component
  TODO.md
  src/components/Tabs/TabPane.tsx
  src/components/Tabs/Tabs.less
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/demo.tsx
  src/components/Tabs/index.ts
  src/themes/default.less
  src/themes/default/tabs.less
Due: npm run lint:ts -- --fix, prettier --write, stylelint --syntax less --fix

Add TodoList section
  README.md
Due: prettier --write

Upgrade the versions of dependencies
  package.json
  yarn.lock
Due: prettier --write
